.Rproj.user
.Rhistory
.RData
.Ruserdata

*.csv
*.Rprofile
*.Rproj
*.log
*.e*
*.o*
*.Rout

deleteme*

Results/
Portfolios/Data/*
Signals/Data/*

*.html

.gitignore

# macOS finder
.DS_Store

# credentials
.env