.Rproj.user
.Rhistory
.RData
.Ruserdata

*.csv
*.Rprofile
*.Rproj
*.log
*.e*
*.o*
*.Rout

# Data
Results/
Portfolios/Data/*
Signals/Data/*
Signals/pyData/*

# Credentials
.env

# Mac
.DS_Store

# Python
.venv
__pycache__/

# Testing and archive
deleteme*
Signals/Debug/*
Signals/pyCode/Debug/*
Signals/zzz-archive/*


